*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .first{
    margin: 0 auto;
    font-family:"Merriweather", serif;
    font-weight: 300;
    font-style: normal; */
/* } */
h1{
    margin: 0 auto;
}
.second{
    font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
}
h1{
    margin: 0 auto;
}
img{
    height: 50 px;
    width: 250px;
}
div{
    color: #000000;
    padding: 20px;
    word-spacing: 50px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}